
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 50px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1{
  text-align: center;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 600;
}

p{
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}

.innerBox {
  padding: 10px;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: border-color 0.2s;
  border-radius: 8px;
}

.list{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 60%;
  margin:12px auto;
  padding:2px;
}

tr{
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

td{
  padding:8px;
}

#myForm{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
  height:60px;
}

#myForm label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

#myForm input {
  width: 200px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 14px;
}

label{
  margin: 0 5px;
}

.input-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box{
  margin: 0 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border : 4px solid #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
